<h2>About Me</h2>

<p><em>Sharing my coding journey, personal projects, and a little inspiration from the outdoors.</em></p>
<img src="./assets/profile.jpg" alt="Profile image" width=50%/>
<p>
  Hi, I’m Mike Tam, a Computer Programming graduate from Algonquin College.
</p>
<p>
  I like to code whenever I can squeeze it in between family life, work, and school, and this blog is where I share some of the projects I’ve built along the way. When I’m not coding, you’ll probably find me biking along the greenbelt paths, the inspiration behind this blog’s forest theme. As for my career path, I’m aiming to grow as a software developer and one day step into a Senior Technical Consultant role.
</p>
